---
export const prerender = true;
import profile from '../assets/profile.png'
---
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title> Trevor Opiyo: trevropiyo.com</title>
    <link rel="icon" type="apple-touch-icon" href={profile} />
    <link rel="icon" type="image/png" href={profile} />
    <link rel="alternate" type="application/feed+json" href="/feed.json" />
    <link rel="alternate" type="application/json" href="/feed.json" />
  </head>
  <a href="/">
    <picture>
      <img src={profile.src} alt="Trevor Opiyo Profile Photo" width={profile.width} height={profile.height} href="/" rel="prefetch"/>
    </picture>
  </a>
  <br />
  <a href="/" alt="Trevor Opiyo" rel="prefetch">
    <h1 >
      Trevor Opiyo
    </h1>
  </a>
  <br />
  <br />
  <br />
</html>
